.list-unstyled {
  padding: 0;
}

.list-unstyled li {
  /* background-color: #3a3f44; */
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
.list-unstyled .home_icon {
  color: #0dcaf0;
}

@media screen and (max-width: 576px) {
  .list-unstyled li {
    /* margin: 5px 0; */
    /* padding: 10px; */
    border-radius: 5px;
  }
  .list-unstyled .home_icon {
    padding: 0 !important;
  }
  .list-unstyled .home_icon_2 {
    padding: 0 !important;
  }
}
